{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": true,
  "tabWidth": 2,
  "parser": "babel",
  "printWidth": 80,
  "jsxSingleQuote": true,
  "bracketSpacing": false,
  "arrowParens": "avoid",
}
