.react-search-box-dropdown-list-item {
    margin-bottom: 0px;
    padding: 1.45rem !important;
}

.search {
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
    .search {
        max-width: 66.66%;
        margin-right: auto;
        margin-left: auto;
    }
}